body,
html {
  height: 100%;
  margin: 0;
  font-family: Comic Sans MS;
}

#background {
  background-image: url(/images/background.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.banner {
  font-size: 80px;
  color: #704923;
}

.resultPanel .result {
  font-size: 50px;
}

.gameboard {
  display: flex;
  width: 90%;
  justify-content: space-around;
  gap: 30px;
}

.playerSection,
.computerSection {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: bold;
  color: rgb(5, 107, 102);
  font-size: 40px;
  gap: 20px;
}

.playerBtn,
.computerBtn {
  display: flex;
  gap: 30px;
}

.gameboard button {
  cursor: pointer;
  height: 150px;
  width: 150px;
  font-size: 100px;
  outline: none;
  background-color: #bbd979;
  border-radius: 20px;
  transition: all 0.25s ease;
}

.playerBtn button:hover {
  transform: scale(1.1);
  border-color: #ffc600;
  background-color: #96b05d;
  box-shadow: 0 0 1rem #ffc600;
}

.playerBtn button:focus {
  transform: scale(1.1);
  border-color: #ffc600;
  background-color: #96b05d;
  box-shadow: 0 0 1rem #ffc600;
}

.active {
  transform: scale(1.1);
  border-color: #ffc600;
  background-color: #96b05d;
  box-shadow: 0 0 1rem #ffc600;
}

.popup .overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.popup .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 450px;
  height: 220px;
  z-index: 2;
  text-align: center;
  padding: 45px, 0;
  box-sizing: border-box;
  background-color: #bbd979;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.playagain {
  background-color: #ffc600;
}
